footer { font-size: 90% },

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: greenyellow;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
